.confirmation-container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirmation-container h2 {
    color: #343a40;
    margin-bottom: 20px;
}

.confirmation-container p {
    color: #6c757d;
    margin-bottom: 30px;
}

.confirmation-container .main-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.confirmation-container .main-button:hover {
    background-color: #0056b3;
}
