{% extends 'base.html' %}

{% load static %}
{% block content %}

<form method="get">
  <div class="button-box">
    <button type="submit" name="sort" value="likes">Top post</button>
    <button type="submit" name="sort" value="my_posts">My Posts</button>
    <button type="submit" name="sort" value="following">Following</button>
  </div>
</form>

<form method="get">
  <div class="button-box">
    <div>
      <button type="submit" name="sort" value="by_tag">Search by tag</button>
      <input type="text" name="tag">
    </div>
  </div>
</form>
  {% for post in posts %}
  <div class="post">
    <div class="user-info">
      <img src="{{ post.avatar.avatar.url }}" alt="profile photo" class="profile-photo">
      <form method="get" action="{% url 'user_profile' post.username %}">
        <button type="submit" class="username" >{{ post.avatar.bio }}</button>
        </form>
      <div class="tags">
        {% for tag in post.tags %}
        <p class="tag">{{ tag.tag }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="images">
      {% for image in post.images %}
      <div class="image-container">
      <img src="{{ image.image.url }}" alt="image">
    </div>
      {% endfor %}
    </div>
    <p class="description">{{ post.description }}</p>
    <div class="like-dislike">

    <div class="like">
      <button class="like-button" data-post-id="{{ post.post_id }}" data-reaction-type="like">
        <img src="{% static 'images/like_img.png' %}" alt="like">
      </button>
      <span class="count" id="like-count-{{ post.post_id }}">{{ post.likes }}</span>
    </div>
    <div class="divider"></div>
    <div class="dislike">
      <button class="dislike-button" data-post-id="{{ post.post_id }}" data-reaction-type="dislike">
        <img src="{% static 'images/dislike_img.png' %}" alt="dislike">
      </button>
      <span class="count" id="dislike-count-{{ post.post_id }}">{{ post.dislikes }}</span>
    </div>
  </div>
  </div>
{% endfor %}
  <script src="{% static 'js/reaction.js' %}"></script>
{% endblock %}




