{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="main_container">
    <div class="profile-container">
      <div class="avatar-container">
        <img src="{{ user.avatar.avatar.url }}" alt="Avatar">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="avatar">
          <button class="main-button" type="submit">Change avatar</button>
        </form>
      </div>

      <div class="name-container">
        <p>Current Name: {{ user.first_name }} {{ user.last_name }}</p>
        <form method="POST">
          {% csrf_token %}
          <input type="text" name="first_name" placeholder="New First Name" required>
          <input type="text" name="last_name" placeholder="New Last Name" required>
          <button type="submit">Change name</button>
        </form>
      </div>
      <div class="name-container">
        <p>Your email: {{ user.email }}</p>
        <form method="POST">
          {% csrf_token %}
          <input type="text" name="email" placeholder="New email" required>
          <button type="submit">Change email</button>
          {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="error-messages">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                    <div class="success-messages">
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </form>
      </div>
      <div class="name-container">
        <form method="POST">
          {% csrf_token %}
          <input type="password" name="password" placeholder="Your password" required>
          <input type="password" name="new_password" placeholder="New password" required>
          <input type="password" name="new_password_repeat" placeholder="Repeat new password" required>
          <button type="submit">Change password</button>
        </form>
      </div>
        <div class="logout-container">
            <form action="{% url 'log_out' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logout-button">Exit</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}
