{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

<section class="main_block">
  <div class="container">
    <h1 class="title" >Instagram</h1>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="error-messages">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    <form method="post">
        {% csrf_token %}
        <hr>
        {% for field in form %}
            <input type="{{ field.field.widget.input_type }}" placeholder="{{ field.label }}" name="{{ field.name }}" required>
        {% endfor %}
        <hr>
    <button type="submit" class="my-button">Register</button>
    </form>
  </div>
    <div class="container">
        <p class="facebook_login">
            <b>Login with Facebook</b>
        </p>
    </div>

  <div class="container signin">
    <p>Have an account?<a href="{% url 'login' %}">Sign in</a></p>
  </div>

</section>

